/myapp1/node_modules
/chapter1/node_modules
/chapter1/.next
/chapter2/node_modules
/chapter3/node_modules
/chapter4/node_modules
/chapter5/node_modules
/chapter6/node_modules
/chapter7/node_modules
/routehandler/node_modules
/routehandler/.next
/chapter4/.next
/chapter5/.next
/chapter6/.next
/chapter7/.next
/chapter2/.next
/chapter3/.next

